h6 一
.row
  .col-auto
    .dice-box.justify-content-center.align-items-center
      .dice-item
  .col-auto
    .dice-box
      .dice-item.m-auto
br
h6 二
.row
  .col-auto
    .dice-box.justify-content-between
      .dice-item
      .dice-item
  .col-auto
    .dice-box.justify-content-between
      .dice-item
      .dice-item.align-self-end
  .col-auto
    .dice-box.justify-content-between
      .dice-item
      .dice-item.mt-auto
  .col-auto
    .dice-box.flex-column.justify-content-between
      .dice-item
      .dice-item.align-self-end
  .col-auto
    .dice-box.flex-column.justify-content-between
      .dice-item
      .dice-item.ml-auto
br
h6 三
.row
  .col-auto
    .dice-box.justify-content-between
      .dice-item
      .dice-item.align-self-center
      .dice-item.align-self-end
  .col-auto
    .dice-box.justify-content-between
      .dice-item
      .dice-item.m-auto
      .dice-item.mt-auto
  .col-auto
    .dice-box.flex-column.justify-content-between
      .dice-item
      .dice-item.align-self-center
      .dice-item.align-self-end
br
h6 四
.row
  .col-auto
    .dice-box.flex-column.justify-content-between
      .d-flex.justify-content-between
        .dice-item
        .dice-item
      .d-flex.justify-content-between
        .dice-item
        .dice-item
br
h6 五
.row
  .col-auto
    .dice-box.flex-column.justify-content-between
      .d-flex.justify-content-between
        .dice-item
        .dice-item
      .d-flex.justify-content-center
        .dice-item
      .d-flex.justify-content-between
        .dice-item
        .dice-item
br
h6 六
.row
  .col-auto
    .dice-box.justify-content-between
      .d-flex.flex-column.justify-content-between
        .dice-item
        .dice-item
        .dice-item
      .d-flex.flex-column.justify-content-between
        .dice-item
        .dice-item
        .dice-item
br
h6 九
.row
  .col-auto
    .dice-box.flex-wrap.justify-content-between
      .dice-item
      .dice-item
      .dice-item
      .dice-item
      .dice-item
      .dice-item
      .dice-item
      .dice-item
      .dice-item
